.wrapper {
    width: 24px;
    height: 24px;
    position: relative;
}

.item {
    padding: 10px 8px 10px 8px;
}

.listContainer {
    position: absolute;
    z-index: 50;
    right: 12px;
    top: 32px;
    overflow: auto;
    width: 320px;
    background: var(--bg-white);
    font-family: var(--font-inter);
    border-radius: var(--shape-corner-8);
    border: solid 1px var(--bg-grey-5);
    box-shadow: var(--shadow-level-1);
    padding: 2px 4px 2px 4px;
    margin-top: -20px;
    user-select: none;
}

.list {
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: auto;
    padding-right: 4px;
}

.list::-webkit-scrollbar {
    display: initial !important;
    width: 4px;
    border-radius: 4px;
}

.list::-webkit-scrollbar-thumb {
    background: var(--bg-grey-7-opacity);
    border-radius: 4px;
}