.modalCard {
  max-width: 420px;
  text-align: left;
}

.closeRow {
  display: flex;
  justify-content: flex-end;
}

.title {
  text-align: center;
}

.button {
  width: 100%;
}

.forgotRow {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
