.page {
  width: 100%;
  max-width: 820px;
  background: var(--text-white);
  box-shadow: var(--shadow-level-2);
  margin: 0 auto 26px;
  -webkit-animation: fade-in 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.mockSignatures {
  position: absolute;
  width: 100%;
  z-index: 1000;
}

@media (--mobile) {
  .page {
    width: 100%;
  }
}
