{
  "extends": [
    "stylelint-config-standard"
  ],
  "rules": {
    "indentation": 2,
    "color-hex-case": "lower",
    "no-descending-specificity": null,
    "value-keyword-case": null,
    "property-no-vendor-prefix": null,
    "at-rule-no-vendor-prefix": null,
    "property-no-unknown": [true, {
      "ignoreProperties": ["font-smoothing", "composes"]
    }],
    "declaration-block-no-duplicate-properties": null,
    "selector-class-pattern": null,
    "selector-pseudo-class-no-unknown": [true, {
      "ignorePseudoClasses": ["input-placeholder", "global", "local"]
    }]
  }
}
