.link {
    font-family: var(--font-inter);
    font-size: inherit !important;
    font-weight: 500;
    color: var(--bg-link-default);
}

.link:hover {
    color: #2F35C2;
}

.link:active {
    color: #1A20A3;
}

.secondary {
    color: inherit;
    text-decoration: underline;
}

.secondary:hover {
    color: #2F35C2;
    text-decoration: none;
}

.secondary:active {
    color: #1A20A3;
    text-decoration: none;
}