.link {
  font-family: var(--font-nacelle);
  font-size: inherit !important;
  font-weight: 500;
  color: var(--bg-link-default);
}

.link:hover {
  color: #2f35c2;
}

.link:active {
  color: #1a20a3;
}

.secondary {
  color: inherit;
  text-decoration: underline;
}

.secondary:hover {
  color: #2f35c2;
  text-decoration: none;
}

.secondary:active {
  color: #1a20a3;
  text-decoration: none;
}
