.row {
  gap: 10px;
  width: 100%;
  height: 100%;
}

.text {
  font-size: 18px !important;
}

.iconX {
  fill: #0a18333d;
}

.iconX:hover {
  fill: #1d9bf0;
}

.iconFb {
  fill: #0a18333d;
}

.iconFb:hover {
  fill: #1877f2;
}

.iconTg {
  fill: #0a18333d;
}

.iconTg:hover {
  fill: #29a9eb;
}

.iconIn {
  fill: #0a18333d;
}

.iconIn:hover {
  fill: #0a66c2;
}
