.container {
  box-sizing: content-box;
  width: 100%;
  max-width: var(--page-width-size);
}

@media (min-width: 1090px) {
  .containerIfOpen {
    transition: all 0.2s ease;
    margin-left: 234px;
  }
}

.textColumn {
  width: 100%;
  gap: 8px;
  margin-bottom: 24px;
}

.textWrapper {
  width: 100%;
  align-items: center;
  gap: 4px;
}

@media (--mobile) {
  .container {
    min-width: 290px;
  }

  .textColumn {
    gap: 4px;
  }

  .textWrapper {
    flex-direction: column;
    align-items: flex-start;
  }
}
