.arrowRotate {
    transform: rotate(180deg);
}

.row {
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.row > * {
    font-size: 12px !important;
}

.arrowRotate,
.arrow {
    fill: var(--bg-grey-2-opacity);
}

.arrowLong {
    stroke: var(--text-primary);
}

.row:hover > * {
    color: #2F35C2 !important;
}

.row:hover > .arrowLong {
    stroke: #2F35C2;
}

.row:hover > svg {
    fill: #2F35C2;
}