.tableRow td {
  height: 72px;
}

.isLastRow td:first-child {
  border-bottom-left-radius: 15px;
}

.isLastRow td:last-child {
  border-bottom-right-radius: 15px;
}

.name {
  margin-bottom: 2px;
}

@media (max-width: 900px) {
  .name,
  .text {
    width: fit-content;
    max-width: 180px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

@media (max-width: 850px) {
  .name,
  .text {
    max-width: 150px;
  }
}

@media (max-width: 800px) {
  .name,
  .text {
    max-width: 130px;
  }
}

@media (max-width: 750px) {
  .name,
  .text {
    max-width: 100px;
  }
}

@media (max-width: 700px) {
  .name,
  .text {
    max-width: 50px;
  }
}

@media (--mobile) {
  .tableRow td {
    height: 70px;
  }

  .hide {
    display: none;
  }

  .text {
    font-size: 12px !important;
    max-width: unset;
  }

  .name {
    font-size: 16px !important;
    width: fit-content;
    max-width: 400px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 4px;
  }

  .isLastRow td:first-child {
    border-bottom-left-radius: 0;
  }

  .isLastRow td:last-child {
    border-bottom-right-radius: 0;
  }
}

@media (max-width: 500px) {
  .name {
    max-width: 250px;
  }
}

@media (max-width: 450px) {
  .name {
    max-width: 200px;
  }
}

@media (max-width: 400px) {
  .name {
    max-width: 160px;
  }
}

@media (max-width: 350px) {
  .name {
    max-width: 120px;
  }
}
