.bg {
    background-image: url("./images/bg-pattern-bottom.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    width: 100%;
    height: 100%;
}

.wrapper {
    margin: calc(var(--header-size) + 76px) auto 0;
    position: relative;
    width: 100%;
    max-width: 980px;
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: row;
    gap: 32px;
    padding: 0 20px;
}

.secondColumn {
    width: 100%;
}

.form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 12px;
}

.button {
    width: 220px;
}

.alert {
    margin-top: 24px;
}

.titleSecondary {
    text-align: left;
    margin-bottom: 12px;
    margin-top: 32px;
}

.containerDone {
    margin-top: 4px;
}

.name {
    white-space: pre-wrap;
    word-break: break-word;
}

@media (--tablet) {
    .wrapper {
        margin-top: calc(var(--header-size) + 24px);
    }
}

@media (--mobile) {
    .wrapper {
        max-width: unset;
        flex-direction: column;
        padding: 0 16px;
        margin-top: var(--header-size);
    }

    .bg {
        background-position: bottom;
        background-image: url("./images/bg-pattern-bottom-mobile.png");
    }

    .firstColumn {
        display: none;
    }

    .name {
        order: -1;
        margin-bottom: 8px;
    }

    .form {
        flex-direction: column;
        height: 116px;
    }

    .button {
        width: 100%;
    }

    .alert {
        margin-top: 36px;
    }

    .containerDone {
        margin-top: 0;
        margin-bottom: 8px;
    }
}