.wrapper {
  gap: 10px;
}

.buttonWrapper {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.buttonWrapper button {
  width: fit-content;
}

@media (--mobile) {
  .buttonWrapper {
    flex-direction: column;
    width: 100%;
  }

  .buttonWrapper button {
    width: 100%;
  }

  .buttonWrapper div:first-child {
    order: 1;
  }
}
