.color-text-secondary {
  color: var(--text-secondary) !important;
}

.color-link-default {
  color: var(--text-link-default) !important;
}

.color-text-error {
  color: var(--text-error) !important;
}

.color-text-accent {
  color: var(--text-accent) !important;
}