@font-face {
  font-display: swap;
  font-family: Nacelle;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Nacelle-Regular.otf");
}

@font-face {
  font-display: swap;
  font-family: Nacelle;
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/Nacelle-SemiBold.otf");
}

@font-face {
  font-display: swap;
  font-family: Nacelle;
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Nacelle-Bold.otf");
}

@font-face {
  font-display: swap;
  font-family: Caveat;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Caveat-Regular.ttf");
}
