:root {
  --font-nacelle: Nacelle, Roboto, -apple-system, BlinkMacSystemFont, Oxygen, Ubuntu, serif;

  /* background colors */
  --bg-white: #fff;
  --bg-black: #192130;
  --bg-grey-1: #394557;
  --bg-grey-2: #697586;
  --bg-grey-3: #9aa4b2;
  --bg-grey-4: #b8c1cf;
  --bg-grey-5: #d1d7e0;
  --bg-grey-6: #dfe5ed;
  --bg-grey-7: #e7ebf1;
  --bg-grey-8: #f8fafc;
  --bg-grey-1-opacity: #0a1833cc;
  --bg-grey-2-opacity: #0a183399;
  --bg-grey-3-opacity: #0a183361;
  --bg-grey-4-opacity: #0a18333d;
  --bg-grey-5-opacity: #0a183329;
  --bg-grey-6-opacity: #0a18331a;
  --bg-grey-7-opacity: #0a18330f;
  --bg-grey-8-opacity: #0a183305;

  /* text colors */
  --text-primary: #0d1629f5;
  --text-secondary: #0a183399;
  --text-tertiary: #0a183361;
  --text-accent: #378503;
  --text-white: #fff;
  --text-link-default: #484fe0;
  --text-signature-color-1: #000358;
  --text-success: #067647;
  --text-error: #b42318;
  --text-warning: #bd4d03;
  --text-script-color-for-success-page: #2332bd;

  /* accent colors */
  --bg-accent-extra-dark: #75bd48;
  --bg-accent-dark: #88d656;
  --bg-accent: #9fe870;
  --bg-accent-light-1: #baf593;
  --bg-accent-light-2: #cffab4;
  --bg-accent-extra-light: #e3fcd4;

  /* link colors */
  --bg-link-default: #484fe0;
  --bg-border-gradient: linear-gradient(87.1deg, #a67cfa 0%, #64b4fa 33%, #40d3d6 70.5%, #33e68c 100%);

  /* fill: background */
  --bg-grey-bg-main: #f6f9fc;
  --bg-green-bg: #82fabe;
  --bg-cyan-bg: #93f3f5;
  --bg-blue-bg: #b2dbff;
  --bg-purple-bg: #d3bdff;

  /* alert colors */
  --bg-success: #079455;
  --bg-success-500: #17b26a;
  --bg-success-200: #abefc6;
  --bg-success-50: #ecfdf3;
  --bg-warning: #dc6803;
  --bg-error: #d63333;
  --bg-error-500: #eb8f3f;
  --bg-error-300-focus: #fab4b4;
  --bg-error-light: #fecdca;
  --bg-error-extra-light: #fef3f2;

  /* border colors */
  --border-error: #fda29b;

  /* box shadows */
  --shadow-focus-accent: 0 0 0 4px #9fe8703d;
  --shadow-focus-error: 0 0 0 4px #eb38381f;
  --shadow-level-1: 0 2px 4px -2px rgb(0 22 112 / 4%);
  --shadow-level-2: 0 2px 4px -2px rgb(0 22 112 / 4%), 0 1px 28px -8px rgb(0 22 112 / 6%);
  --shadow-level-3: 0 4px 8px -2px rgb(0 22 112 / 4%), 0 4px 40px -12px rgb(0 22 112 / 8%);
  --shadow-level-4: 0 6px 12px -3px rgb(0 22 112 / 6%), 0 8px 56px -20px rgb(0 22 112 / 10%);
  --shadow-level-5: 0 7px 14px -4px rgb(0 22 112 / 8%), 0 12px 68px -24px rgb(0 22 112 / 14%);
  --shadow-level-6: 0 8px 16px -5px rgb(0 22 112 / 10%), 0 16px 100px -32px rgb(0 22 112 / 24%);
  --shadow-level-7: 0 11px 22px -6px rgb(0 22 112 / 12%), 0 20px 140px -36px rgb(0 22 112 / 32%);

  /* sizes */
  --header-size: 70px;
  --page-width-size: 794px;
  --page-height-size: 1123px;
  --a4-resolution-size: 1.414;
}
