.signatureWrapper {
  display: flex;
  width: 216px;
  height: 80px;
  padding: 8px 10px;
  align-items: flex-start;
  border-radius: 10px;
  border: 1px solid var(--bg-grey-5);
  background: var(--bg-grey-8);
  user-select: none;
  transition: all 0.2s ease;
  cursor: auto;
  color: var(--text-primary);
}

.isEdited {
  box-shadow: var(--shadow-focus-accent);
  border: 1px solid var(--bg-accent);
  background: var(--bg-white);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0 10px 2px;
}

.isEdited:hover .textHover {
  transition: all 0.2s ease;
  font-size: 16px !important;
  color: #2f35c2 !important;
}

.iconEdited {
  stroke: var(--text-link-default);
}

.isEdited:hover .iconEdited {
  stroke: #2f35c2 !important;
}

.changeBlock {
  position: absolute;
  bottom: 4px;
}

.dateWrapper {
  display: flex;
  width: 110px;
  height: 36px;
  padding: 8px 10px;
  align-items: center;
  border-radius: 10px;
  border: 1px solid var(--bg-grey-5);
  background: var(--bg-grey-8);
  user-select: none;
}

.dateWrapperSigned {
  width: 110px;
  padding: 8px 10px;
}

.icon {
  stroke: var(--bg-grey-2-opacity);
}

.participantWrapper {
  position: absolute;
  width: 100%;
  padding-right: 3em;
  justify-content: space-between;
  z-index: 1000;
}

@media (max-width: 600px) {
  .participantWrapper {
    margin-bottom: 0.5em;
  }
}

@media (max-width: 470px) {
  .participantWrapper {
    margin-bottom: 0.8em;
  }
}
