.signatureWrapper {
  display: flex;
  align-items: flex-start;
  border: 1px solid var(--bg-grey-5);
  background: var(--bg-grey-8);
  user-select: none;
  transition: all 0.2s ease;
  cursor: auto;
  color: var(--text-primary);
}

.isEdited {
  background: var(--bg-white);
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.isEdited:hover .textHover {
  transition: all 0.2s ease;
  transform: scale(1.1);
  margin-left: 0.5dvw;
  color: #2f35c2 !important;
}

@media (--mobile) {
  .isEdited:hover .textHover {
    transform: scale(1);
    margin-left: unset;
  }
}

.iconEdited {
  stroke: var(--text-link-default);
}

.isEdited:hover .iconEdited {
  stroke: #2f35c2 !important;
}

.changeBlock {
  position: absolute;
  bottom: 4px;
}

.dateWrapper {
  display: flex;
  min-width: fit-content !important;
  align-items: center;
  border: 1px solid var(--bg-grey-5);
  background: var(--bg-grey-8);
  user-select: none;
  position: absolute;
}

.dateWrapperSigned {
  position: absolute;
}

.icon {
  stroke: var(--bg-grey-2-opacity);
}
