.stars {
  gap: 12px;
}

.stars svg {
  stroke: var(--bg-grey-4-opacity);
}

.stars > * {
  cursor: pointer;
}

.activeStar svg {
  stroke: var(--bg-warning);
}

.fullStar svg {
  stroke: none;
  fill: var(--bg-warning);
}