.wrapper {
  display: block;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  text-align: center;
  width: fit-content;
  color: var(--text-primary);
  white-space: nowrap;
  height: 50px;
  padding: 0 24px;
  border-radius: 16px;
  border: solid 1px;
  box-shadow: var(--shadow-level-1);
}

.sm {
  height: 38px;
  padding: 0 12px;
  border-radius: 10px;
}

.primary {
  background: var(--bg-accent);
  border-color: var(--bg-grey-7-opacity);
  transition: transform 0.2s ease;
}

.primary:hover:not(:disabled),
.primary:active:not(:disabled) {
  background-image: linear-gradient(-45deg, #33e68c, #40d3d6, #64b4fa, #a67cfa);
  background-size: 300% 300%;
  animation: button-shimmer 3s ease infinite;
  transform: scale(1.02);
}

.primary:disabled {
  cursor: not-allowed;
  background: var(--bg-accent);
}

@keyframes button-shimmer {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@media (prefers-reduced-motion: reduce) {
  .primary:hover:not(:disabled),
  .primary:active:not(:disabled) {
    animation: none;
    background-image: none;
    background-color: var(--bg-accent-dark);
    transform: none;
  }
}

.dark {
  background: var(--bg-black);
  border-color: var(--bg-black);
  color: var(--text-white);
}

.dark * {
  color: var(--text-white);
}

.dark:hover:not(:disabled) {
  background: #10161f;
}

.dark:active:not(:disabled) {
  background: #0a0e15;
}

.dark:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.secondary {
  background: var(--bg-white);
  border-color: var(--bg-grey-5);
}

.secondary:hover {
  background: var(--bg-grey-7);
}

.secondary:active {
  background: var(--bg-grey-5);
}

.secondary:disabled {
  cursor: not-allowed;
  background: var(--bg-white);
}

.linkPrimary,
.linkSecondary {
  height: initial;
  padding: 0;
  border-radius: 0;
  border: none;
  background: none;
  box-shadow: none;
}

.linkPrimary > *,
.linkSecondary > * {
  font-size: 14px !important;
}

.linkPrimary > * {
  color: var(--bg-link-default);
}

.linkPrimary:hover > *,
.linkSecondary:hover > * {
  color: #2f35c2;
}

.linkPrimary:active > *,
.linkSecondary:active > * {
  color: #1a20a3;
}

.linkSecondary > * {
  color: var(--text-secondary);
}

.icon {
  display: flex;
  min-width: 16px;
  min-height: 16px;
  align-items: center;
  justify-content: center;
}

.icon svg {
  stroke: var(--text-primary);
}

.linkPrimary .icon svg {
  stroke: var(--bg-link-default);
}

.linkPrimary:hover .icon svg,
.linkSecondary:hover .icon svg {
  stroke: #2f35c2;
}

.linkPrimary:active .icon svg,
.linkSecondary:active .icon svg {
  stroke: #1a20a3;
}

.linkSecondary .icon svg {
  stroke: var(--text-secondary);
}

.text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
