.wrapper {
  display: block;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  text-align: center;
  width: fit-content;
  color: var(--text-primary);
  white-space: nowrap;
  height: 52px;
  padding: 0 24px;
  border-radius: 16px;
  border: solid 1px;
  box-shadow: var(--shadow-level-1);
}

.sm {
  height: 38px;
  padding: 0 12px;
  border-radius: 10px;
}

.primary {
  background: var(--bg-accent);
  border-color: var(--bg-grey-7-opacity);
}

.primary:hover {
  background: var(--bg-accent-dark);
}

.primary:active {
  background: var(--bg-accent-extra-dark);
}

.primary:disabled {
  cursor: not-allowed;
  background: var(--bg-accent);
}

.secondary {
  background: var(--bg-white);
  border-color: var(--bg-grey-5);
}

.secondary:hover {
  background: var(--bg-grey-7);
}

.secondary:active {
  background: var(--bg-grey-5);
}

.secondary:disabled {
  cursor: not-allowed;
  background: var(--bg-white);
}

.linkPrimary,
.linkSecondary {
  height: initial;
  padding: 0;
  border-radius: 0;
  border: none;
  background: none;
  box-shadow: none;
}

.linkPrimary > *,
.linkSecondary > * {
  font-size: 14px !important;
}

.linkPrimary > * {
  color: var(--bg-link-default);
}

.linkPrimary:hover > *,
.linkSecondary:hover > * {
  color: #2F35C2;
}

.linkPrimary:active > *,
.linkSecondary:active > * {
  color: #1A20A3;
}

.linkSecondary > * {
  color: var(--text-secondary);
}

.icon {
  display: flex;
  min-width: 16px;
  min-height: 16px;
  align-items: center;
  justify-content: center;
}

.icon svg {
  stroke: var(--text-primary);
}

.linkPrimary .icon svg {
  stroke: var(--bg-link-default);
}

.linkPrimary:hover .icon svg,
.linkSecondary:hover .icon svg {
  stroke: #2F35C2;
}

.linkPrimary:active .icon svg,
.linkSecondary:active .icon svg {
  stroke: #1A20A3;
}

.linkSecondary .icon svg {
  stroke: var(--text-secondary);
}

.text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6px;
}