.wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  color: var(--text-primary);
  outline: none;
  user-select: none;
}

.wrapper > input {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}

.wrapper > .icon {
  position: relative;
  display: flex;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  background: var(--bg-white);
}

.wrapper input + .icon {
  border: 2px solid var(--bg-grey-4);
  cursor: pointer;
}

.wrapper input:hover + .icon {
  border-color: var(--bg-grey-3);
}

.error input + .icon {
  box-shadow: var(--shadow-focus-error);
}

.isChecked input + .icon {
  background: var(--bg-accent);
  border-color: var(--bg-grey-7-opacity);
}

.isChecked input:hover + .icon {
  background: var(--bg-accent-dark);
  border-color: var(--bg-grey-7-opacity);
}

.wrapper input:disabled + .icon {
  cursor: unset;
  background: var(--bg-grey-8);
  border-color: var(--bg-grey-6);
}

.wrapper input + .icon svg {
  display: none;
}

.wrapper input:checked + .icon svg {
  display: inline;
}

.icon svg {
  width: 12px;
  height: 12px;
  stroke: var(--text-primary);
}

.iconDisabled svg {
  stroke: var(--bg-grey-4);
}
