.wrapperImage {
  border-radius: 10px;
  background: var(--bg-grey-7);
  margin-bottom: 12px;
  width: 178px;
  min-height: 212px;
  padding: 16px;
  user-select: none;
  cursor: initial;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loader {
  position: absolute;
  z-index: 1000;
}

.wrapperError {
  margin: 0;
}

.img {
  height: 190px;
}

.imgError {
  display: none;
}

.textBlock {
  gap: 4px;
  white-space: nowrap;
}

.textBlock > * {
  color: var(--text-secondary);
}

.iconBlock {
  align-items: center;
  gap: 6px;
}

.iconBlock > * {
  color: var(--text-secondary);
}

@media (--mobile) {
  .wrapperImage {
    display: none;
  }
}
