.wrapper {
  position: relative;
  width: 100%;
}

.textarea {
  width: 100%;
  color: var(--text-primary);
  outline: none;
  resize: none;
  position: relative;
  height: 44px;
  max-height: 120px;
  background-color: var(--bg-white);
  font-family: var(--font-inter);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  padding: 10px 12px;
  border-radius: var(--shape-corner-8);
  border: solid 1px var(--bg-grey-5);
  box-shadow: var(--shadow-level-1);
  transition: all 0.1s ease;
  overflow-y: scroll;
  /*scrollbar-width: auto;*/
}

.textarea::-webkit-scrollbar {
  display: initial !important;
  width: 4px;
  border-radius: 4px;
}

.textarea::-webkit-scrollbar-thumb {
  background: var(--bg-grey-7-opacity);
  border-radius: 4px;
}

.textarea::placeholder {
  color: var(--text-secondary);
}

.textarea:hover {
  border: solid 1px var(--bg-accent);
  box-shadow: var(--shadow-focus-accent);
}

.textareaFilled {
  color: var(--text-primary);
}

.textarea:disabled {
  background: var(--bg-grey-8);
  color: var(--text-secondary);
  border: solid 1px var(--bg-grey-5);
  box-shadow: var(--shadow-level-1);
}

.isError .textarea {
  border: solid 1px var(--border-error);
  margin-bottom: 23px;
}
