.text {
  font-family: var(--font-nacelle);
  color: var(--text-primary);
}

.displayText {
  font-size: 48px;
  font-weight: 700;
  line-height: 116%;
  letter-spacing: -1.44px;
}

.buttonSm {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.buttonStandard {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px; /* 150% */
}

.buttonBig {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px; /* 155.556% */
  letter-spacing: -0.18px;
}

.body1 {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
}

.body2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.body3 {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.headline1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.48px;
}

.headline2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 132%;
  letter-spacing: -0.18px;
}

.headline3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 128%;
}

.headline4 {
  font-size: 14px;
  font-weight: 700;
  line-height: 132%;
}

.headline5 {
  font-size: 12px;
  font-weight: 700;
  line-height: 130%;
}

.label1 {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.label2 {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.label3 {
  font-size: 12px;
  font-weight: 600;
  line-height: 15.6px;
}

.menuText {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.link1 {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px; /* 155.556% */
}

.link2 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px; /* 150% */
}

.link3 {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
}

.scriptText {
  font-family: "Caveat", cursive;
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.96px;
}

@media (--mobile) {
  .displayText {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.48px;
  }

  .headline1 {
    font-size: 18px;
    line-height: 132%;
    letter-spacing: -0.18px;
  }

  .headline2 {
    font-size: 16px;
    line-height: 128%;
  }

  .headline3 {
    font-size: 14px;
    line-height: 132%;
  }

  .headline4 {
    font-size: 12px;
    line-height: 130%;
  }

  .scriptText {
    font-size: 48px;
    font-weight: 400;
    line-height: 100%; /* 48px */
    letter-spacing: -0.48px;
  }
}