.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 20px 40px;
}

.logo {
  width: 168px;
}

@media (--mobile) {
  .header {
    padding: 14px 16px;
  }

  .logo {
    width: 132px;
  }
}
