[defaults]
transport=ssh
deprecation_warnings = false
action_warnings = false
command_warnings = false
localhost_warning = false
ignore_patterns = true
jinja2_native_warning = false
roles_path = ./roles
forks=10
internal_poll_interval = 0.05
host_key_checking = False
inventory=./inventory/inventory.ini
#nocolor = true

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
pipelining = true

[inventory]
enable_plugins = yaml, ini
