.page {
    width: 100%;
    max-width: 820px;
    background: var(--text-white);
    box-shadow: var(--shadow-level-2);
    margin: 0 auto 26px;
}

.documentPreviewContainer {
    width: 146px;
}

.sidePanelContainer {
    width: 100%;
    padding: 0 36px 16px 44px;
    height: calc(100vh - var(--header-size) - 44px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: auto;
}

.sidePanelContainer::-webkit-scrollbar {
    display: initial !important;
    width: 8px;
    border-radius: 4px;
}

.sidePanelContainer::-webkit-scrollbar-thumb {
    background: var(--bg-grey-7-opacity);
    border-radius: 4px;
}

.sidePanelPageWrapper {
    width: 100%;
    align-items: center;
    margin-bottom: 12px;
    cursor: pointer !important;
    user-select: none;
}

.sidePanelPage {
    width: 100%;
    margin-bottom: 6px;
}

.isDocumentPreview {
    margin: 0;
}

.activePage {
    position: relative;
}

.activePage:before {
    display: flex;
    content: '';
    width: 99%;
    height: 99%;
    position: absolute;
    top: 0;
    z-index: 9999999;
    border: 2px solid var(--bg-accent);
}

.pageContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mockSignatures {
    position: absolute;
    width: 100%;
    z-index: 1000;
    /*bottom: 100px;*/
}

@media (--mobile) {
    .pageContainer {
        width: 100%;
    }

    .page {
        width: 100%;
    }
}