.sidePanelContainer {
  width: 100%;
  padding: 0 36px 16px 44px;
  height: calc(100vh - var(--header-size) - 44px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: auto;
}

.sidePanelContainer::-webkit-scrollbar {
  display: initial !important;
  width: 8px;
  border-radius: 4px;
}

.sidePanelContainer::-webkit-scrollbar-thumb {
  background: var(--bg-grey-7-opacity);
  border-radius: 4px;
}

.sidePanelPageWrapper {
  width: 100%;
  align-items: center;
  margin-bottom: 12px;
  cursor: pointer !important;
  user-select: none;
}

.pageContainer {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
