.button {
  width: 260px;
  height: 55px;
}

.card {
  width: calc(100% - 40px);
  min-width: 200px;
  max-width: 800px;
  height: 360px;
  background: white;
  border: 1px solid var(--bg-accent);
  border-radius: 24px;
  padding: 17px;
  box-sizing: border-box;
  box-shadow: var(--shadow-level-4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 28px;
  margin: 0 20px;
  cursor: pointer;
}

@media (--mobile) {
  .card {
    min-width: 288px;
    max-width: 288px;
    height: 278px;
    box-shadow: var(--shadow-level-2);
  }
}

.wrapperFile {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--bg-accent-light-2);
  z-index: 10000;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.wrapperFileDisplay {
  opacity: 1;
}

.plus {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 96px;
  height: 96px;
  border-radius: 100px;
  background: #bbf09a;
}

@media (--mobile) {
  .button {
    min-width: 100%;
    height: 44px;
  }

  .wrapperFile {
    display: none;
  }
}
